* {
  background-color: black;
  font-family: "tahoma";
  color: white;
}

a {
  text-decoration: none;
}

.software-developer-left {
  background-image: linear-gradient(35deg, blue, red);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.software-developer-right {
  background-image: linear-gradient(70deg, green, yellow);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.software-developer-center {
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
}

.no-touch {
  margin: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.projects {
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 150%;
  left: 50%;
}

.App-body {
  text-align: center;
}

.no-touch:hover {
  cursor: default;
}

.btn-shell {
  margin: 5px;
  margin-left: 7px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover {
  color: grey;
}

.App-header {
  display: inline-flex;
}


.footer {
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 200%;
  left: 50%;
  text-align: center;
}
